# Ignore source files
src/**

# Ignore development config files
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
tsconfig.json
webpack.config.js
**/.eslintrc.json

# Ignore map files and TypeScript files
**/*.map
**/*.ts
!src/*.d.ts

# Ignore unnecessary files
.git
.github
.gitlab
*.vsix
bun.lockb

# Ignore most of node_modules, but keep necessary type definitions
node_modules/**
!node_modules/@types/**

# Ignore test files
test/**

# Keep only necessary resource files
resources/**
!resources/code-gatherer-icon.png
!resources/code-gatherer.svg
!resources/generate-dark.svg
!resources/generate-light.svg

# Keep necessary documentation
!README.md
!LICENSE.txt

# Ignore any logs or temporary files
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Ignore any OS-specific files
.DS_Store
Thumbs.db